
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 #edf2f7;
  }
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #edf2f7;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 6px;
  }
    .dark-gradient {
      background: linear-gradient(90deg, #1E1E2E 18.9%, #4A4A6A 79.9%);
      color: black;
    }
    .light-gradient {
        background: linear-gradient(90deg, #ACACBA 18.9%, #FFFFFF 79.9%);
        color: black;
      }
  }

  